<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="description" content="Find Your Favorite Restaurant. Battary Apps, located in the Food District.">

    <meta name="theme-color" content="#0C8CBB"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="favicon.png" />
    
    <title>Madangin - Temukan restoran favorit anda.</title>
</head>
<body>

  <header>
    <a href="#list" class="skip-link" tabindex="1">Skip to Content</a>
    <restaurant-navbar></restaurant-navbar>
  </header>
  
  <main id="content">
  </main>

<footer>
  <restaurant-footer></restaurant-footer>
</footer>

</body>
</html>