.hero {
    background-image: url('../public/images/heros/hero-image_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 550px;
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .hero h1 {
    color: #f8f9fa;
    margin-top: 200px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .hero p {
    color: #f8f9fa;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    min-width: 44px;
    min-height: 44px;
  }

